<h1>holaa</h1>

{% load static %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">

{% for usuario in usuarios %}
   <div>
    {{usuario.username}}
   
   
 </div>   
   {% if  user.is_authenticated %}
      <a href="{% url 'cerrar_sesion'  %}">cerrar</a>
      <a href="{% url 'eliminar' usuario.id %}">eliminar</a>
      <a href="{% url 'actualizar' usuario.id %}">actualizar</a>
      <a href="{% url 'cambiar_contraseña' usuario.id %}">cambiar contraseña</a>
      <a href="{% url 'agregar_imagen' usuario.id %}">subir imagen</a>
   {% endif %}
   
{% endfor %}


   
{% for imagen in imagenes %}
   {% if   request.user == imagen.usuario %}
   <span>
      <img src="{{imagen.imagen.url}}"   alt="">
      <img src="{{imagen.imagen.url}}"   alt="">
      <img src="{{imagen.imagen.url}}"   alt="">
   </span>
   {% endif %} 
{% endfor %}

    
